.header{
	background: url('http://localhost/pbwd/assets/images/1.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: #fff;
	text-transform: uppercase;
}